@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century, Georgia, serif, "Asap", sans-serif;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#parallaxOne {
  background-image: url("./img/Carros.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width: 100%;
  opacity: 0.2;
  position: absolute;
}

.text-inicio-right {
  color: #ede7d9;
  width: 70vw;
  text-align: center;
  margin-top: 7vh;
  font-size: 1.3em;
}

.text-inicio-right img {
  height: 45vh;
  width: 75vh;
}

body {
  background: rgba(74, 35, 66, 1);
  font-family: "Zen Kaku Gothic Antique", "Open Sans", sans-serif;
  line-height: 1.7;
  text-align: justify;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-card-services {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.imagen-card-services > img {
  width: 20%;
}

img {
  width: 100%;
}

.icons-cards {
  color: #4a2342;
  width: 40px;
  height: 70px;
  position: relative;
  left: 45%;
}

section:nth-child(1) {
  color: #ede7d9;
}

section:nth-child(2) {
  color: #4a2342;
  background: #ede7d9;
}

section:nth-child(3) {
  color: #ede7d9;
}

section:nth-child(4) {
  color: #4a2342;
  background: #ede7d9;
}

section:nth-child(5) {
  color: #ede7d9;
}

section:nth-child(6) {
  color: #4a2342;
  background: #ede7d9;
}
/* section .container {
  margin: 100px;
} */

section .container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 15px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  width: 250px;
  height: 350px;
  border-radius: 7px;
}

section .text-container .text-box h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*parte para mensagem///////////////////////*/

.main-content-section {
  display: block;
  margin: 0px 60px;
  color: #ede7d9;
}

.main-content-section h3 {
  font-size: 3em;
}

.text-address {
  margin-left: 30px;
}

.display-grid-contact {
  color: #ede7d9;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}

input,
label,
textarea,
select {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

input,
textarea,
select {
  background: #ede7d9;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input:focus,
textarea:focus {
  border: 3px solid #e4ca8d;
  outline: none;
}

.section-ajuda {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

textarea {
  height: 10em;
}
/*/////////////////////////////////////tipos de atendimento////////////////////////////////////////// */
.precisa-de-ajuda {
  display: inline;
  text-align: center;
  max-height: 30%;
  margin-bottom: 35px;
}

.precisa-de-ajuda h2 {
  margin-top: 11px;
}

.precisa-de-ajuda span {
  font-size: 16px;
  margin-left: 5px;
}

.precisa-de-ajuda img {
  width: 3em;
  height: 3em;
}

.section-perguntas {
  height: auto;
  padding: 100px 0px;
}

.tipos-de-atendimento {
  display: flex;
  max-height: 70%;
}

.cards-services {
  padding: 45px;
}

/* .cards-services > div > img {
  height: 107px;
}

.cards-services:hover > div > img {
  width: 6em;
  height: 6em;
} */

.text-card-services {
  text-align: center;
}

.atendimento-presencial-ou-digital {
  background-color: #66445e;
}

.apoio-especializado-personalizado {
  background-color: #84667c;
}

.direto-pelo-whatsapp {
  background-color: #a18a9b;
}

.botao-whatsapp-grande {
  border-radius: 70px;
  height: 71px;
  width: 400px;
  border-color: #4aca59;
  background-color: #4aca59;
  margin: 45px;
  border: transparent;
  color: white;
  padding: 0.75em 1.5em;
  font-size: 0.8em;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.botao-whatsapp-grande:hover {
  border-color: 3px solid #4aca59;
  transition: all 0.3s;
  transform: scale(1.1);
}

.botao-whatsapp-grande img {
  /*/////tentei colocar esse aqi para alinhar a img do botao a esquerda//////*/
  align-items: left;
}

/*////////////////////////////PERGUNTAS FREQUENTES///////////////////////////////////////////////////*/

.perguntas-frequentes {
  display: block;
  width: 80vw;
}

.perguntas-frequentes h2 {
  margin-bottom: 10px;
}

.ativo {
  height: 100px;
}

.inativo {
  height: 0px;
}

.texto-resposta {
  transition: height 0.5s;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.button-default {
  background-color: #e4ca8d;
  border: 3px solid #e4ca8d;
  color: #4a2342;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  font-size: 0.8em;
  display: inline-block;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
}

.icon-whats > span {
  display: none;
}

.quadro-pergunta > p {
  padding: 0px 16px;
}

.icone-pergunta {
  background-image: url(img/seta.png);
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  cursor: pointer;
  padding: 3px;
}

.icone-pergunta-rotation {
  transform: rotate(90deg);
}

.pergunta-acordeon h4 {
  margin-left: 3px;
}

.pergunta-acordeon {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 10px;
}

.balao {
  display: none;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -22px;
  top: 26px;
  background: white;
  transform: rotate(45deg);
}

.icon-whats:hover > .balao {
  display: block;
}

.icon-whats:hover > span {
  position: absolute;
  left: -207px;
  top: 17px;
  background: white;
  color: black;
  border-radius: 36px;
  width: 199px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}
